.home {
    width: 100%;
    background-size: cover;
    height: 89vh;
    margin-bottom: 70px !important;
    background-color: #f1faee; 
}

.home-content {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.content {
    color: #1A2E49; 
    margin-top: 70px;
    margin-left: 70px;
    width: 600px;
    margin-right: 20px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #1A2E49; 
}

.content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #B19768; 
}

.content p {
    font-size: 16px;
    line-height: 1.8;
}

.profile {
    background: url('../assets/Snap-1554115564.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    margin-top: 70px;
    margin-right: 70px;
    border: 4px solid #B19768; 
    box-shadow: 4px 4px 80px #1A2E49; 
    filter:  brightness(0.7);
    transition: filter 0.3s ease-in-out;
    border-radius: 50%;
    
}

.profile:hover {
    box-shadow: 4px 4px 80px #B19768;
    filter: blur(0) brightness(1);
}

button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: #B19768 2px solid; 
    color: #1A2E49;
   margin-top: 10PX;
   font-size: 1em;
 
}
#resume{
    margin-left: 10px;
}

button:hover {
    background-color: #b3daf6; 
    transition: 1s;
}

.social-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #D4B483;
    font-size: 30px;
}

.social-links a:hover {
    color: #b3daf6; 
    transition: 1s;
}
.dark-mode {
    background-color: #0f0f17;
    color: #f0f0f0;
}

.dark-mode .home {
    background-color: #0f0f15;
}

.dark-mode .content h1, .dark-mode .content p {
    color: #f0f0f0;
}
.dark-mode .content h3{
    color: #ffab40;
}

.dark-mode .social-link {
    color: #f0f0f0;
}

.dark-mode .social-link:hover {
    color: #ffab40;
}

.dark-mode .ggg {
    background-color: #ffab40;
    color: #1A1A2E;
}

.dark-mode .ggg:hover {
    background-color: #e68a00;
}
.dark-mode .profile {
    filter: blur(0) brightness(1);
    border: 4px solid #e68a00; 
    box-shadow: 4px 4px 80px #B19768;
}
@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        
       
    }
     .content{
        order: 2;
       margin-left: 15px;
       margin-top: 15px;
        width: 400px;
     }
     .profile{
        order: 1;
        height: 100px;
        width: 100px;
        margin: 5px;
       
     }
     
}
